@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* line 5, ../scss/style.scss */
*, body, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

/* line 9, ../scss/style.scss */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../scss/style.scss */
.wrapper {
  font-size: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
/* line 19, ../scss/style.scss */
.wrapper .content, .wrapper .sidebar {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 22, ../scss/style.scss */
.wrapper .content {
  max-width: calc(100% - 400px);
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/tr_bg.png") repeat;
  background-size: 20px;
}
/* line 29, ../scss/style.scss */
.wrapper .content .colorSwitch {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 50px;
}
/* line 41, ../scss/style.scss */
.wrapper .content .colorSwitch.change {
  background: #000;
  color: #fff;
}
/* line 46, ../scss/style.scss */
.wrapper .content .roundSwitch {
  cursor: pointer;
  position: absolute;
  left: 90px;
  top: 20px;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 12px;
  color: #000;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}
/* line 59, ../scss/style.scss */
.wrapper .content .roundSwitch.change {
  border-radius: 0;
}
/* line 63, ../scss/style.scss */
.wrapper .content .replay {
  cursor: pointer;
  background: #fff url("../images/icons/replay-arrow.svg") no-repeat center;
  background-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 74, ../scss/style.scss */
.wrapper .content .exBlock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  color: #000;
}
/* line 83, ../scss/style.scss */
.wrapper .content .exBlock.white {
  color: #fff;
}
/* line 87, ../scss/style.scss */
.wrapper .content .rectangle_kr {
  width: 400px;
  height: 400px;
  border-radius: 0;
  background: #000;
}
/* line 92, ../scss/style.scss */
.wrapper .content .rectangle_kr.white {
  background: #fff;
}
/* line 95, ../scss/style.scss */
.wrapper .content .rectangle_kr.round {
  border-radius: 50%;
}
/* line 99, ../scss/style.scss */
.wrapper .content .text_kr {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  height: 48px;
  white-space: nowrap;
}
/* line 107, ../scss/style.scss */
.wrapper .sidebar {
  position: relative;
  z-index: 500;
  max-width: 400px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #eee;
  padding: 0;
  overflow: auto;
}
/* line 116, ../scss/style.scss */
.wrapper .sidebar .tab {
  position: relative;
  border-bottom: 1px solid #eee;
  background: #f3f3f3;
}
/* line 120, ../scss/style.scss */
.wrapper .sidebar .tab .tabContent {
  display: none;
}
/* line 122, ../scss/style.scss */
.wrapper .sidebar .tab .tabContent .tabSelectors {
  padding: 0 20px;
  margin-bottom: 20px;
}
/* line 128, ../scss/style.scss */
.wrapper .sidebar .tab .animationTab ul {
  display: none;
}
/* line 130, ../scss/style.scss */
.wrapper .sidebar .tab .animationTab ul.show {
  display: block;
}
/* line 134, ../scss/style.scss */
.wrapper .sidebar .tab .animationTab ul li.icon {
  margin-top: 10px;
}
/* line 136, ../scss/style.scss */
.wrapper .sidebar .tab .animationTab ul li.icon:first-child {
  margin-right: 0;
}
/* line 139, ../scss/style.scss */
.wrapper .sidebar .tab .animationTab ul li.icon:nth-child(even) {
  margin-left: 20px;
}
/* line 146, ../scss/style.scss */
.wrapper .sidebar .tab.open {
  background: #fff;
}
/* line 148, ../scss/style.scss */
.wrapper .sidebar .tab.open .tabContent {
  display: block;
}
/* line 152, ../scss/style.scss */
.wrapper .sidebar .tab.hide {
  background: #000;
}
/* line 154, ../scss/style.scss */
.wrapper .sidebar .tab.hide .tabContent {
  display: none;
}
/* line 157, ../scss/style.scss */
.wrapper .sidebar .tab.hide h2 {
  color: #fff;
}
/* line 160, ../scss/style.scss */
.wrapper .sidebar .tab.hide:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: 20px;
  background: url("../images/icons/confirm.svg") no-repeat center;
  background-size: contain;
}
/* line 174, ../scss/style.scss */
.wrapper .sidebar .tab.prev {
  background: #1c7430;
}
/* line 177, ../scss/style.scss */
.wrapper .sidebar .tab.next {
  background: #f5f5f5;
}
/* line 181, ../scss/style.scss */
.wrapper .sidebar .tabSelectors, .wrapper .sidebar .iconsWrap {
  font-size: 0;
}
/* line 183, ../scss/style.scss */
.wrapper .sidebar .tabSelectors .icon, .wrapper .sidebar .iconsWrap .icon {
  font-size: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 10px 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #1a1a1a;
  width: calc(50% - 10px);
  text-align: center;
  text-transform: capitalize;
  /*
  &.circle {
    background: url('../images/icons/figures/circle.png') no-repeat center;
    background-size: contain;
  }
  &.rectangle {
    background: url('../images/icons/figures/rectangle.png') no-repeat center;
    background-size: contain;
  }
  &.text {
    background: url('../images/icons/figures/text.png') no-repeat center;
    background-size: contain;
  }
  */
}
/* line 195, ../scss/style.scss */
.wrapper .sidebar .tabSelectors .icon:first-child, .wrapper .sidebar .iconsWrap .icon:first-child {
  margin-right: 20px;
}
/* line 198, ../scss/style.scss */
.wrapper .sidebar .tabSelectors .icon.unactive, .wrapper .sidebar .iconsWrap .icon.unactive {
  opacity: 0.5;
  pointer-events: none;
}
/* line 216, ../scss/style.scss */
.wrapper .sidebar .tabSelectors .icon.active, .wrapper .sidebar .iconsWrap .icon.active {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
/* line 223, ../scss/style.scss */
.wrapper .sidebar .listContent {
  display: block;
  padding: 0 20px;
  margin-bottom: 20px;
}
/* line 227, ../scss/style.scss */
.wrapper .sidebar .listContent > div {
  display: none;
}
/* line 229, ../scss/style.scss */
.wrapper .sidebar .listContent > div.active {
  display: block;
}
/* line 234, ../scss/style.scss */
.wrapper .sidebar .animationSettings {
  display: none;
  padding: 0 20px;
}
/* line 237, ../scss/style.scss */
.wrapper .sidebar .animationSettings.show {
  display: block;
}
/* line 240, ../scss/style.scss */
.wrapper .sidebar .animationSettings .inputWrap {
  margin-bottom: 20px;
}
/* line 242, ../scss/style.scss */
.wrapper .sidebar .animationSettings .inputWrap .checkbox-inline {
  margin-top: 20px;
}
/* line 245, ../scss/style.scss */
.wrapper .sidebar .animationSettings .inputWrap label {
  font-size: 12px;
}
/* line 249, ../scss/style.scss */
.wrapper .sidebar .animationSettings input {
  position: relative;
}
/* line 253, ../scss/style.scss */
.wrapper .sidebar h2 {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  padding: 20px;
}
/* line 259, ../scss/style.scss */
.wrapper .sidebar h3 {
  font-family: "Open Sans", sans-serif;
}
/* line 262, ../scss/style.scss */
.wrapper .sidebar .confirmButton {
  display: block;
  text-align: center;
  font-size: 14px;
  border: 1px solid limegreen;
  padding: 10px 25px;
  color: #fff;
  background: limegreen;
  text-decoration: none;
}
/* line 271, ../scss/style.scss */
.wrapper .sidebar .confirmButton.unactive {
  cursor: auto;
  pointer-events: none;
  opacity: 0.5;
}
/* line 277, ../scss/style.scss */
.wrapper .sidebar .mainButton {
  cursor: pointer;
  display: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #000;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
/* line 291, ../scss/style.scss */
.wrapper .sidebar .mainButton.show {
  display: block;
}
/* line 294, ../scss/style.scss */
.wrapper .sidebar .mainButton:hover {
  text-decoration: underline;
  opacity: 1;
  color: #fff;
}
/* line 302, ../scss/style.scss */
.wrapper.result .popup, .wrapper.result .bgOverlay {
  display: block;
}
/* line 306, ../scss/style.scss */
.wrapper .popup {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 900px;
  max-height: 650px;
  height: auto;
  margin: auto;
  padding: 60px 100px;
  color: #000;
  font-size: 14px;
  background: #fff;
  border-radius: 15px;
}
/* line 323, ../scss/style.scss */
.wrapper .popup .closePopup {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: url("../images/icons/cancel-music.svg") no-repeat center;
  background-size: contain;
}
/* line 333, ../scss/style.scss */
.wrapper .popup p {
  font-size: 16px;
}
/* line 335, ../scss/style.scss */
.wrapper .popup p.sub {
  font-size: 14px;
}
/* line 339, ../scss/style.scss */
.wrapper .popup pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  line-height: 0;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
/* line 348, ../scss/style.scss */
.wrapper .popup pre code {
  float: left;
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* line 354, ../scss/style.scss */
.wrapper .bgOverlay {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
